# Byte-compiled / cache 
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
ENV/
.ENV/

# Streamlit config & cache
.streamlit/
.streamlit/secrets.toml

# Google service account credentials
credentials.json

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# IDE-specific
.vscode/
.idea/
